  
<div class="bg_fondo" >
    <div class="bg_conte">
        <div class="bg_logo" >
            <picture class="imagages_logo" >
                <img src="assets\images\real-fc.svg" alt="">
            </picture>
            <picture class="imagages_logo" >
                <img src="assets\images\fc-barcelona.svg" alt="">
            </picture>
        </div>
        
              
        <div class="marcador_goles" >
            <div class="marcador_fin" >
                <p> {{hijo}} </p>
            </div>
            <div class="marcador_fin" >
                 <p> {{golbarca}} </p>
            </div>
        </div>
        <div class="time_soccer" >
                <div class="time_conte" >
                    <div class="time_title" >
                        <button>TIME</button>
                    </div>
                <div class="time_tiempo" >
                        @if(conteo > 0){
                            <p> {{conteo}} </p>
                        }@if( minutes > 0){
                            <p> {{guardar}} </p>
                        }
                          
                        
                    
                </div>
                </div>
        </div>
        <div class="resultado_total" >
            @if(conteo >= 55 ){
                <p> {{title}} </p>  
            }
            @if(conteo == "01:00"){
               <p>00:00</p>
                @if(golbarca > hijo){
                    <p>Ganador barcelona</p>
                }
                @if(hijo > golbarca){
                    <p>Ganador Madrid</p>
                }
            }
            @if(time <= 0){
                @if(golbarca > hijo){
                    <p>Ganador barcelona</p>
                }
                @if(hijo > golbarca){
                    <p>Ganador Madrid</p>
                }
            }
            @if(hijo == golbarca){
                <p>empate</p>
            }
                
            
        </div>
    </div>
</div>

<div class="marca_gol" >
    <div class="marca_goles" >
        <div class="marca_goleadores" >
            <picture  class="bg_logotipo" >    
                <img src="assets\images\real-fc.svg" alt="">
            </picture>
            <picture class="bg_logotipo" >    
                <img src="assets\images\fc-barcelona.svg" alt="">
            </picture>
        </div>
            <div class="btn_marcar">

                <div class="btn_gol" >
                    <app-hijo  [Recibirpadre]="golbarca"  (Mensajehijo)="recibehijo()"/>
                    <div>
                        @if(hijo > golbarca ){
                            <p> vamos ganando </p>
                        }@if(golbarca > hijo){
                            <p>van perdiendo</p>
                        }
                    </div>
                </div>
                <div class="btn_gol" >
                    <button (click)="goles1()" >Marcar Gol</button>
                    <div>    
                        @if(golbarca > hijo ){
                            <p> vamos ganando </p>
                        }@if(hijo > golbarca){
                            <p> van perdiendo </p>
                        }
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="btn_play" >
    <div class="btn_expan" >
        <div>
            <button [disabled]="disible"  (click)="contar()" >Comienza Partido</button>
        </div>
        <div>
            <button [disabled]="apagar"  (click)="funciom()" >personalizar tiempo</button>
        </div>
    </div>


</div>





<router-outlet />
